<div class="container">
    <div class="col-sm-12">
<h1>{{title}}</h1>
<ul>
    <li>
        <a href="/users">Create New User</a>
    </li>
    <li>
        <a href="/users/login">Login</a>
    </li>
</ul>
</div>
        </div>

