<div id="loginForm">
    <div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Login</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
             <div v-if="success" class="alert alert-success">
              User was created successfully.
             </div>
                <div v-if="errors.length > 0" class="alert alert-danger">
                    <ul>
                        <li v-for="error in errors">
                            {{error.errorDescription}}
                        </li>
                    </ul>
                </div>
            <form class="form-horizontal" method="post" action="#">
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-users fa" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="form-control" name="username" id="username"
                                   placeholder="Enter your Username" v-model="username"/>
                            <span>{{usernameError}}</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                            </span>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Enter your Password" v-model="password"/>
                        </div>
                         <span>{{passwordError}}</span>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="button" class="btn btn-primary btn-lg btn-block login-button"
                            v-on:click="login()">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    var vue = new Vue({
        el: "#loginForm",
        data: {
            errors: [],
            password: "",
            passwordError: "",
            success: false,
            username: "",
            usernameError: ""
        },
        methods: {
            round: function (number) {
                return Math.round(number);
            },
            post: function (url, data) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    $.ajax(url, {
                        type: "POST",
                        data: data,
                        error: function (xhr, status) {
                            reject(xhr);
                        },
                        success: function (xhr, statusText, req) {
                            resolve(xhr);
                        }
                    });
                });
            },
            clearErrors: function () {
                var self                  = this;
                self.errors               = [];
                self.usernameError        = "";
                self.passwordError        = "";
            },
            checkForms: function () {
                var self = this;
                var fail = false;
                self.clearErrors();
                if (!self.username) {
                    self.usernameError = "Username can not be blank.";
                    fail               = true;
                }
                if (!self.password) {
                    self.PasswordError = "Password can not be blank.";
                    fail               = true;
                }
                return !fail;
            },
            login: function () {
                var self = this;
                if (self.checkForms()) {
                    var d = {
                        username: self.username,
                        password: self.password
                    };
                    self.post("/users/login/", d).then(function (xhr) {
                        if (typeof xhr.redirect === 'string') {
                            console.log(data.redirect);
                            window.location = data.redirect;
                        }
                    }).catch(function (error) {
                        self.errors  = [];
                        self.success = false;
                        self.errors.push(error);
                    });
                }
            }
        },
        watch: {
//            date: function () {
//                this.updateTrackingInformation();
//            }
        },
        mounted: function () {
//            var self = this;
            // Hook the change event to give vue the new value
//            $("#start-date").on("dp.change", function (e) {
//                var curDate = e.date.format("YYYY-MM-DD");
//                if (curDate !== self.date) {
//                    self.date = e.date.format("YYYY-MM-DD");
//                }
//            });
        }
    });
</script>
